{{>partials/header}}

<div class="container list">

    <div class="container no-list">
        <h2>A página não existe ou está indisponível no momento =(</h2>
    </div>

</div>

{{>partials/footer}}